.logs-summary-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.logs-summary {
  position: absolute;
  left: 5%;
  top: 2%;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.status-filter {
  position: absolute;
  left: 5%;
  top: 8%;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 100%;
  color: black;
}

.status-dropdown {
  position: absolute;
  left: 15%;
  top: 7%;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 100%;
  color: #3871c1;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 5px;
  width: 20%;
  outline: none;
}

.print-button {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #71231c;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 120%;
  width: 20%;
  height: 7%;
}

.table-container-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  position: absolute;
  left: 5%;
  top: 23%;
  width: 90%;
  height: 77%;
  font-family: 'Bricolage Grotesque', sans-serif;
  overflow: visible;
  display: flex;
}

.show-all {
  bottom: 10%;
  align-items: center;
  justify-content: center;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 20px;
  color: #3871c1;
  font-weight: bold;
}

.student-name-logs {
  display: block;
  font-size: 14px;
  color: #8a8a8a;
  font-weight: bold;
}

.student-number {
  display: block;
  font-size: 16px;
  color: black;
}

.info-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.info-table td {
  padding: 10px 15px;
  text-align: left;
}

.info-table td:not(:last-child) {
  padding-right: 20px;
}

.info-table tr {
  border-bottom: 1px solid #e8e8e8;
}

.time {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.date {
  font-size: 12px;
  color: #8a8a8a;
}

.logs-table {
  position: absolute;
  left: 5%;
  top: 15%;
  width: 90%;
  height: 7%;
  border-collapse: collapse;
  background-color: #71231c;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: white;
  text-align: left;
  border-radius: 10px;
}

.logs-table th,
.logs-table td {
  padding: 10px 15px;
}

.table-container-wrapper {
  max-height: 400px; /* Set a maximum height for the table */
  overflow-y: auto; /* Enable vertical scrolling */
}